## Exercise 2.5 Advanced Geospatial Plotting
    3. In the data set from the previous task, create a new column with the value of 1. Then create a new aggregated dataframe that contains 3 columns: starting station, ending station, and the count of trips between those stations.

In [1]:
import pandas as pd
import os
from keplergl import KeplerGl
from pyproj import CRS 
import numpy as np
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv('newyork_data.csv', index_col = 0)

/var/folders/wd/xh8m0hc916l1ffmsssspd3f40000gn/T/ipykernel_67176/3816047514.py:1: DtypeWarning: Columns (6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('newyork_data.csv', index_col = 0)

In [3]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'date', 'avgTemp', '_merge'],
      dtype='object')

In [6]:
# Create a value column and group by start and end station with long and lat

df['value'] = 1
df_final = df.groupby(['start_station_name', 'end_station_name','start_lat', 'start_lng', 'end_lat', 'end_lng'])['value'].count().reset_index()

In [7]:
# sort by value
df_final = df_final.sort_values(by='value', ascending=False)

In [8]:
df_final.head()

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,value
1414524,Central Park S & 6 Ave,Central Park S & 6 Ave,40.765909,-73.976342,40.765909,-73.976342,12480
642086,7 Ave & Central Park South,7 Ave & Central Park South,40.766741,-73.979069,40.766741,-73.979069,8957
3794063,Roosevelt Island Tramway,Roosevelt Island Tramway,40.757284,-73.953600,40.757284,-73.953600,8283
2747279,Grand Army Plaza & Central Park S,Grand Army Plaza & Central Park S,40.764397,-73.973715,40.764397,-73.973715,7790
1252913,Broadway & W 58 St,Broadway & W 58 St,40.766953,-73.981693,40.766953,-73.981693,7443

In [9]:
# create subset of 1000 rows
df_final_2 = df_final. iloc[:1000]

In [10]:
df_final_2.shape

(1000, 7)

In [11]:
df_final_2.to_csv('df_final_locations_for_map.csv')